{% load staticfiles %}

<header class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 f-t-links top-line">Join us: <a  class = "social-media-link" href = "https://www.facebook.com/harvardadvocate">F</a> <a class = "social-media-link"  href="https://twitter.com/harvardadvocate">T</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
        <!-- <figure><img src="{% static "magazine/images/seal_banner.jpeg" %}" class = "logo-container" alt="Main Image" ></figure> -->
          <a class="no-decoration no-underline" href="/"> <h1 class="main-title">THE HARVARD ADVOCATE</h1></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 top-line">
        <p class="top-line">CONTENT HERE</p>
      </div>
    </div>

</header>
<!-- <hr class = "navbar-divider"> -->
<div class="container behind-search" data-spy="affix" data-offset-top="300" data-offset-bottom="0" >
    <nav class="navbar navbar-default  advo-navbar" role="navigation" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand mobile-only" href="/">THE HARVARD ADVOCATE </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse ">
      <div class="nav-header"> </div>
        <ul class="nav navbar-nav">
            <li ><a href="/about">ABOUT</a></li>
            
            
            
            
            
            
            
        </ul>

    </div><!-- /.navbar-collapse -->
    </nav>

</div>
<div class="container behind-search">
    <a href="/">
      {% if name == "fiction" %}
      <img src="{% static "magazine/images/banner1.jpg" %}" class = "header-image img-responsive" alt="Main Image" >
      {% elif name == "poetry" %}
      <img src="{% static "magazine/images/banner3.jpg" %}" class = "header-image img-responsive" alt="Main Image" >
      {% elif name == "features" %}
      <img src="{% static "magazine/images/banner3.jpg" %}" class = "header-image img-responsive" alt="Main Image" >
      {% elif name == "art" %}
      <img src="{% static "magazine/images/banner4.jpg" %}" class = "header-image img-responsive" alt="Main Image" >
      {% else %}
      <img src="{% static "magazine/images/banner_summer2015.jpg" %}" class = "header-image img-responsive" alt="Main Image" >
      {% endif %}
    </a>

</div>
